/* Global ================= */

* {
	font-family: 'Montserrat', sans-serif;
}

input {
	border-radius: 5px;
	border: 1px solid lightgray;
	padding: 6px 10px;
	outline: 0px;
}

input:focus {
	border: 1px solid gray;
}

input[type="submit"],
input[type="button"] {
	background: #eee;
	cursor: pointer;
}

input[type="submit"]:hover,
input[type="button"]:hover {
	border: 1px solid gray;
	background: #e5e5e5;
}

.full {
	width: 100%;
}

.horizontal {
	display: flex;
	flex-direction: row;
}

.vertical {
	display: flex;
	flex-direction: column;
}

/* ======================== */
/* (Login / Register) pages */

h2 {
	margin-top: 60px;
	text-align: center;
	font-weight: 400;
}

form {
	width: 200px;
	margin: 80px auto 0px auto;
}

form > section {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

form > section > label {
	font-size: 14px;
	margin-bottom: 5px;
	font-weight: 600;
}

/* ======================== */
/* Chat App =============== */

chat-app {
	display: flex;
	flex-direction: column;
	width: 400px;
	margin: 40px auto 0px auto;
}

#top-bar {
	/*padding-bottom: 20px;
	border-bottom: 1px solid lightgray;*/
	position: relative;
	margin-bottom: 8px;
}

#app-body {
	margin-top: 20px;
}

info-text {
	display: block;
	width: 300px;
	margin: 20px auto;
	text-align: center;
	font-size: 12px;
	color: gray;
}

show-more {
	display: block;
	width: 100%;
	margin: 0px 0px 20px 0px;
	text-align: center;
	font-size: 12px;
	cursor: pointer;
	color: #AAA;
}

show-more:hover {
	color: black;
}

chat-user {
	display: block;
	padding: 12px;
	font-weight: 600;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid lightgray;
	margin-top: 8px;
}

chat-user:first-child {
    margin-top: 0px
}

chat-user:hover {
	border: 1px solid gray;
	background: #fdfdfd;
	cursor: pointer;
}

chat-messages {
	display: block;
	padding: 15px;
	height: 60vh;
	border-radius: 3px;
	border: 1px solid lightgray;
	margin: 0px 0px 20px 0px;
	overflow: auto;
}

message-bubble {
	display: block;
	margin-bottom: 10px;
	float: left;
	width: 100%;
}

message-bubble .msg-info {
	margin-bottom: 5px;
}

message-bubble .username {
	font-size: 14px;
	font-weight: 600;
	color: darkred;
}

message-bubble .time {
	font-size: 10px;
	color: grey;
}

message-bubble .message {
	background: #147efb;
	border-radius: 16px;
	padding: 7px 10px;
	color: white;
	max-width: 310px;
	width: fit-content;
}

message-bubble.flip {
	float: right;
}

message-bubble.flip .username {
	color: darkblue;
}

message-bubble.flip .message {
	background: #eee;
	color: black;
	float: right;
}

message-bubble.flip * {
	text-align: right;
}

#receiver-user {
	margin: 10px 0px 8px 0px;
	font-weight: 600;
	text-align: center;
}

#refresh_btn {
	font-size:12px;
	color: royalblue;
	position: absolute;
	top: 12px;
	right: 0px;
	cursor: pointer;
}

#refresh_btn:hover {
	font-weight: 600;
}

/* ======================== */