<?xml version="1.0" encoding="UTF-8"?>
<web-app 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

    <display-name>ChatApp</display-name>

    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>

    <!-- Servlets -->
    <servlet>
        <servlet-name>Session</servlet-name>
        <servlet-class>com.chatapp.servlet.Session</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.chatapp.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.chatapp.servlet.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.chatapp.servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateChat</servlet-name>
        <servlet-class>com.chatapp.servlet.CreateChat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActiveChats</servlet-name>
        <servlet-class>com.chatapp.servlet.ActiveChats</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMessage</servlet-name>
        <servlet-class>com.chatapp.servlet.SendMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMessages</servlet-name>
        <servlet-class>com.chatapp.servlet.GetMessages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>com.chatapp.servlet.groups.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveUser</servlet-name>
        <servlet-class>com.chatapp.servlet.groups.RemoveUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUsers</servlet-name>
        <servlet-class>com.chatapp.servlet.groups.GetUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMessages</servlet-name>
        <servlet-class>com.chatapp.servlet.SearchMessages</servlet-class>
    </servlet>

    <!-- Servlet Mappings -->
    <servlet-mapping>
        <servlet-name>Session</servlet-name>
        <url-pattern>/session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateChat</servlet-name>
        <url-pattern>/create_chat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActiveChats</servlet-name>
        <url-pattern>/active_chats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMessage</servlet-name>
        <url-pattern>/message</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMessages</servlet-name>
        <url-pattern>/messages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/add_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveUser</servlet-name>
        <url-pattern>/remove_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUsers</servlet-name>
        <url-pattern>/get_users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMessages</servlet-name>
        <url-pattern>/search_messages</url-pattern>
    </servlet-mapping>
    
    <listener>
     <listener-class>com.chatapp.listeners.AppContextListener</listener-class>
    </listener>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Build File</web-resource-name>
            <url-pattern>/build.xml</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Source Code</web-resource-name>
            <url-pattern>/src/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

</web-app>